@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

@media only screen and (max-width: 424px) {
	h1 {
		font-size: 150%;
	}

	.logo {
		width: 55%;
	}
}

@media only screen and (min-width: 425px) {
	h1 {
		font-size: 200%;
	}

	h5 {
		font-size: 120%;
	}

	.logo {
		width: 33%;
	}

	.featured {
		font-size: 120%;
	}

	.drone, .dog {
		width: 50%;
	}

	.chess {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 200%;
	}

	h5 {
		font-size: 120%;
	}

	.logo {
		width: 33%;
	}

	.featured {
		font-size: 120%;
	}

	.drone, .dog, .chess {
		width: 33.3333%;
	}
}

@media only screen and (min-width: 1025px) {
	.logo {
		width: 55px;
	}

	.code, .featured, header {
		width: 1025px;
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		float:none;
		margin: 15px auto;
		max-width: 1025px;
	}
}

h1, h5 {
	width: 100%;
	font-family: Lato;
	font-weight: 100;
	color: #2d3c49;
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3 {
	font-family: Lato;
	font-weight: 100;
	color: #7d97ad;
	text-align: left;
}

hr {
	max-width: 1025px;
	background-color: #7d97ad;
	height: 2px;
}

img {
	max-width: 100%;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

p.url {
	font-size: 70%;
}

.logo {
	height: auto;
}

div.myinfo {
	display: flex;
	width: 100%;
}

.featured {
	text-align: center;
	font-family: Lato;
	font-weight: 100;
	color: #2d3c49;
	display: flex;
	flex-flow:wrap;
}

div.logo {
	box-sizing: border-box;
	width: 25%;
	/*float: left;*/
}

div.name {
	box-sizing: border-box;
	width: 75%;
	/*float: left;*/
}

.drone {
	height: auto;
	margin-bottom: 10px;
}

.dog {
	height: auto;
	margin-bottom: 10px;
}

.chess {
	height: auto;
}
